				<div id="header">
					<div id="logo">
						<h1>
							<a href="index.html">Allen Wu</a>
						</h1>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<a href="music.html">Music</a>
							</li>
							<li>
								<a href="article.html">Article</a>
							</li>
							<li class="last">
								<a href="contact.html">Contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>