					<div id="sidebar">
						<h3>
							Composer, Sound Designer, and more...
						</h3>
						<p>
							The most difficult part of composing is to convince yourself.
						</p>
						<h3>
							Activities:
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Feb. 24, Performance at Foelinger Hall, UIUC.</a>
							</li>
						</ul>
						<h3>
							Services:
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Commissioned composition and sound design</a>
							</li>
							<li>
								<a href="#">Kyma sound design coaching/consulting</a>
							</li>
							<li>
								<a href="#">Pro Tools and music production coaching</a>
							</li>
							<li>
								<a href="#">Music theory lessons</a>
							</li>
							<li>
								<a href="#">SuperCollider programming coaching</a>
							</li>
							<li class="last">
								<a href="#">Algorithmic music composition coaching</a>
							</li>
						</ul>
					</div>