					<div id="sidebar">
						<h3>
							Composer, Sound Designer, and more...
						</h3>
						<p>
							The most difficult part of composing is to convince yourself.
						</p>
						<h3>
							Activities:
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="https://wavemagazineonline.com/electroacoustic-barn-dance-features-boundary-challenging-performances/?fbclid=IwAR2KgTcJSgxXERYXp_Xlym2VqTz5nsIhM-qn3sciQhgz_HLDaplK7vb4d3A">November 13, 2019. Paper presentation in Electroacoustic Barn Dance</a>
							</li>
						</ul>
						<h3>
							Services:
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Commissioned composition and sound design</a>
							</li>
							<li>
								<a href="#">Kyma sound design coaching/consulting</a>
							</li>
							<li>
								<a href="#">Pro Tools and music production coaching</a>
							</li>
							<li>
								<a href="#">Music theory lessons</a>
							</li>
							<li>
								<a href="#">SuperCollider programming coaching</a>
							</li>
							<li class="last">
								<a href="#">Algorithmic music composition coaching</a>
							</li>
						</ul>
					</div>